@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Некоторые товары и категории предоопределены локально для удобства тестирования CRUD операций <a href="http://localhost:5000/api/Products">Несколько товаров</a>.</p>
</div>
